<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <style>
        body { font-family: Arial; background: #f4f6f8; }
        .box {
            width: 600px;
            margin: 50px auto;
            background: white;
            padding: 25px;
            border-radius: 8px;
        }
    </style>
</head>
<body>

<div class="box">
    <h2>My Profile</h2>
    <p>Personal information</p>
</div>

</body>
</html>

